
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background-size: cover;
    position: relative;
}



.title {
    font-size: 60px;
    font-weight: 400;
    color: var(--clr-neon);
}

.timer {
    padding: 5px;
    font-size: 30px;
    
}

.screen {
    
    display: flex;
    flex-direction: row;
}

.menuButtons {
    flex: 1;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 60px;
    gap: 10px;
}

.top-buttons {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}

.difButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    width: 180px;
    height: 60px;
    padding: 5px;
    font-size: 30px;
    border-radius: 30px;
    border-style: none;
    border-width: 1px;
    ;
}
    .difButton.easy {
        background:  hsl(323 21% 16%);
    }

    .difButton.medium {
        background:  hsl(323 21% 16%);
    }

    .difButton.hard {
        background:  hsl(323 21% 16%);
    }


.gameBoard{
    padding-top: 10px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 0;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.7em 0 var(--clr-neon);
    padding: 4px;
    background-color: hsl(320, 21%, 20%);
    margin-bottom: 30px;
    margin-top: 30px;
    
}

td:nth-of-type(3) {    
    border-right: 2px solid hsl(317 100% 54%);
    
    
}
td:nth-of-type(4) {    
    border-left: 2px solid hsl(317 100% 54%);
}

td:nth-of-type(6) {    
    border-right: 2px solid hsl(317 100% 54%);
    
}
td:nth-of-type(7) {    
    border-left: 2px solid hsl(317 100% 54%);
}

tr:nth-of-type(3) td {    
    border-bottom: 2px solid hsl(317 100% 54%);
}

tr:nth-of-type(4) td {    
    border-top: 2px solid hsl(317 100% 54%) ;
    ;
}

tr:nth-of-type(6) td {    
    border-bottom: 2px solid hsl(317 100% 54%);
}

tr:nth-of-type(7) td {    
    border-top: 2px solid hsl(317 100% 54%);
}

.cell {
    height: 92px;
    width: 92px;
    border: solid black 1px
}

.cell:hover {
    border-color: hsl(226.03,48.34%,70.39%);
    color: hsl(226.03,48.34%,70.39%);
    box-shadow: inset 0 0 0.4em 0 var(--clr-neon), 0 0 0.4em 0 var(--clr-neon);
    
    
}

.cell.selected {
    border-color: hsl(226.03,48.34%,70.39%);
    color: hsl(226.03,48.34%,70.39%);
    box-shadow: inset 0 0 0.4em 0 var(--clr-neon), 0 0 0.4em 0 var(--clr-neon);
}


.inputCell {
    font-size: 40px;
    line-height: 40px;
    color: hsl(317 100% 54%);
    font-weight: 400;
    border: none;
    text-align: center;
    width: 90px;
    height: 90px;
    background: none;
}
    .inputCell:active {
        border-color: hsl(226.03,48.34%,70.39%);
        color: hsl(226.03,48.34%,70.39%);
        outline: none;

    }

    .inputCell:hover {
        border-color: hsl(226.03,48.34%,70.39%);
        color: hsl(226.03,48.34%,70.39%); 
        outline: none;
    }

    .inputCell:focus {
        border-color: hsl(226.03,48.34%,70.39%);
        color: hsl(226.03,48.34%,70.39%); 
        outline: none;
    }

.bottomButtons {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}
 
.bottomButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background:  hsl(323 21% 16%);
    width: 180px;
    height: 60px;
    padding: 5px;
    font-size: 30px;
    border-radius: 30px;
    border-style: none;
    border-width: 1px;
}


.bottomInfo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 30px;
}


:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background: var(--clr-bg);
    color: var(--clr-neon);
  }
  
  .neon-button {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.7em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(0.7em) rotateX(20deg) scale(0.9, 0.35);
    filter: blur(0.7em);
    opacity: 0.8;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }

  .new-game-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background:  hsl(323 21% 16%);
    width: 180px;
    height: 60px;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 30px;
    
  }
  
 
.message-window {
    display: none;
    position: absolute;
    top: 300px;
    left: 650px;
    right: 650px;
    background: var(--clr-bg);
    color: var(--clr-neon);
    border-color:  hsl(317 100% 54%);
    border-width: 2px;
    border-style: solid;
    width:600px;
    height: 300px;
    padding: 10px;
}

.yes-no-button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background:  hsl(323 21% 16%);
    width: 180px;
    height: 60px;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 20px;
}

.message-window2 {
    display: none;
    position: absolute;
    top: 300px;
    left: 650px;
    right: 650px;
    background: var(--clr-bg);
    color: var(--clr-neon);
    border-color:  hsl(317 100% 54%);
    border-width: 2px;
    border-style: solid;
    width:600px;
    height: 300px;
    padding: 10px;
}