
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 40px;
}

.menuButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.difButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-radius: 15px;
    border-style: none;
    border-width: 1px;
}

.buttonEasy {
    background: hsl(25.38, 65.82%, 69.02%);
}

.buttonMedium {
    background: hsl(22.39, 40.12%, 67.25%);
}

.buttonHard {
    background: hsl(215.38, 19.02%, 59.8%);
}

.gameBoard{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}
.table {
    border: solid;
    border-color: black;
    border-width: 2px; 
}

.cellBox {
    border: 1px;
    border-color: black;
    border-style: solid;
}

.cell {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(184, 177, 177);
    height: 60px;
    width: 60px;
}

.inputCell {
    font-size: 24px;
    border: none;
    text-align: center;
    width: 60px;
}

.inputCell:focus{
    border: none;
}

.inputCell:focus:hover{
    border: none;
}

.bottomButtons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.checkButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: hsl(215.38, 19.02%, 59.8%);
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-radius: 15px;
    border-style: none;
    border-width: 1px;
}

.hintButton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background: hsl(215.38, 19.02%, 59.8%);
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-radius: 15px;
    border-style: none;
    border-width: 1px;
}

.bottomInfo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}